<!-- app.component.html -->
<div class="container">
 
  <h1>Angular Google Maps with Places Search Example</h1>
 
  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" value = "{{address}}" placeholder="Search Nearest Location" type="text" #search >
  </div>
 
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
 
  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>
 